server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: system
    static_configs:
      - targets:
          - localhost
        labels:
          job: varlogs
          __path__: /var/log/*log
         
  - job_name: bwapp_apache
    static_configs:
      - targets:
          - localhost
        labels:
          job: bwapp_apache
          __path__: /bWAPP/logs/apache2/access.log
    
  - job_name: ssh_failed
    static_configs:
      - targets:
          - localhost
        labels:
          job: ssh_failed
          __path__: /var/log/syslog-ng/ssh_failed/ssh_failed.log
       
  
