apiVersion: 1
groups:
    - orgId: 1
      name: sqli detection
      folder: SQLi detection
      interval: 10s
      rules:
        - uid: ff3pqz8mrb7y8a
          title: SQL detection
          condition: C
          data:
            - refId: A
              queryType: instant
              relativeTimeRange:
                from: 600
                to: 0
              datasourceUid: P8E80F9AEF21F6940
              model:
                editorMode: code
                expr: sum(count_over_time({job="flask-ai"} | json | prediction="sqli" [5m]))
                intervalMs: 1000
                maxDataPoints: 43200
                queryType: instant
                refId: A
            - refId: C
              relativeTimeRange:
                from: 600
                to: 0
              datasourceUid: __expr__
              model:
                conditions:
                    - evaluator:
                        params:
                            - 0
                        type: gt
                      operator:
                        type: and
                      query:
                        params:
                            - C
                      reducer:
                        params: []
                        type: last
                      type: query
                datasource:
                    type: __expr__
                    uid: __expr__
                expression: A
                intervalMs: 1000
                maxDataPoints: 43200
                refId: C
                type: threshold
          noDataState: OK
          execErrState: Error
          for: 0s
          annotations:
            description: Phát hiện tấn công SQL Injection trên bWAPP
            runbook_url: ""
            summary: Cảnh báo phát hiện tấn công SQL Injection
          labels:
            "": ""
          isPaused: false
          notification_settings:
            receiver: Hung
